/* Styles specific to the ChatInterface component */

.chat-interface {
    overflow: auto;    
    max-height: 60vh;    
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.input-container {
    display: flex;
    background: #fff;
    border-radius: 32px;
    padding: 8px 16px;
    margin-top: 12px;    
}

.input-field {
    flex: 1;
    padding: 10px;
    border: none;
    background: transparent;
    font-size: 1.1rem;    
}

button.send-button {
    margin-left: 1em;
    box-shadow: none;    
}

.send-button:disabled {
    color: #b0b0b0;
}

.typing-indicator {
    display: flex;
    align-items: center;
}

@media (max-width: 700px) {
    .input-container {
        width: 98vw;
        padding: 6px 6px;
    }
}

.suggestions-container {
    margin-top: 1em;
}